*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-header{
    height: 70px;
    background-color: white;
}

.ms-logo{
    height: 50px;
}

.ms-search-bar{
    background-color: #E5E5E5;
    border-radius: 5px;
    padding:10px
}

.ms-input-search{
    width: 80%;
    border: none;
    background-color: transparent;
}

.ms-aside{
    height: calc(100vh - 70px);
    max-width: 150px;
    background-image: url(img/sidebar-bg.png);
    background-color: #051E35;
    padding: 25px;
}

.ms-top-main{
    background-color: #1B72E8;
    width: 100%;
}