*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-header{
    height: 70px;
    background-color: white;
}

.ms-logo{
    height: 50px;
}

.ms-search-bar{
    background-color: #E5E5E5;
    border-radius: 5px;
    padding:10px
}

.ms-input-search{
    width: 80%;
    border: none;
    background-color: transparent;
}

.ms-aside{
    height: calc(100vh - 70px);
    max-width: 150px;
    background-image: url(img/sidebar-bg.png);
    background-color: #051E35;
    padding: 25px;
}

.ms-main{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.ms-top-main{
    background-color: #1B72E8;
}

.ms-tag{
    font-size: 12px;
    padding: 2px 6px;
    background-color: #165BBA;
    border-radius: 20px;
}

.ms-plus{
    line-height: 12px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
}

.ms-main-center{
    padding: 12px;
    overflow-y: auto;
}

.ms-card{
    border: 1px solid #D2D2D2;
    border-radius: 10px;
}

.ms-card-head{
    background-color: #F7F7F7;
    padding: 12px 12px 20px 12px;
    border-bottom: 1px solid #D2D2D2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ms-table{
    width: 100%;
    padding: 20px 12px 20px 12px;
    
}

.ms-font-color-grey{
    color: #212529;
}

.ms-tag-img{
    width: 32px;
    border-radius: 100%;
}

.ms-width-table{
    width: 30%;
}

.ms-table-tag{
    font-size: small;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: -15px;
}

.fa-pen, .fa-trash{
    padding: 5px;
    color: #212529DD;
    border: 1px solid #212529CC;
    border-radius: 5px;
}

.ms-danger{
    margin-right: -25px;
    margin-left: -9px;
}
